// ------------------------------------------------------------
// _research-proof.scss
// Sekcja - Działanie potwierdzają badania
// ------------------------------------------------------------

.research-proof {
    // Zewnętrzny wrapper - tylko wyśrodkowanie
    &__outer-wrapper {
      width: 100%;
      margin: 0 auto;
    }
  
    // Wewnętrzny wrapper - max-width i paddingi
    &__inner-wrapper {
      max-width: 1600px;
      width: 100%;
      margin: 0 auto;
      padding: 64px 24px;
  
      @include respond-to(tablet) {
        padding: 100px 80px;
      }
    }
  
    // Główna treść - flexbox na desktop
    &__content {
      display: flex;
      flex-direction: column;
      gap: 32px;
  
      @include respond-to(desktop) {
        flex-direction: row;
        gap: 100px;
        align-items: flex-start;
      }
    }
  
    // Sekcja tekstowa - 50% na desktop
    &__text-section {
      width: 100%;
  
      @include respond-to(desktop) {
        width: 50%;
      }
    }
  
    // Header z tagiem i tytułem
    &__header {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 64px;
    }
  
    // Tag
    &__tag {
      display: inline-block;
      font-size: $font-size-tiny;
      font-weight: 500;
      color: $blue;
      background-color: rgba($blue, 0.1);
      border: 1px solid $blue;
      border-radius: 100px;
      padding: 4px 16px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      width: fit-content;
    }
  
    // Tytuł
    &__title {
      font-size: $font-size-h2;
      font-weight: 400;
      line-height: $line-height-tight;
      color: $black;
      margin: 0;
    }
  
    // Body z tekstem i buttonem
    &__body {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    // Opis
    &__description {
      font-size: $font-size-regular;
      line-height: $line-height-base;
      color: $black-text;
      font-weight: 300;
  
      p {
        margin: 0;
        
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      a {
        text-decoration: underline !important;
      }
    }
  
    // Button
    &__button {
      width: fit-content;
    }
  
    // Sekcja z obrazem - 50% na desktop
    &__image-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      @include respond-to(desktop) {
        width: 50%;
      }
    }
  
    // Obraz
    &__image {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  
    // Placeholder dla obrazu
    &__image-placeholder {
      width: 100%;
      background-color: $stroke;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 300px;
  
      svg {
        width: 60%;
        height: auto;
        opacity: 0.3;
      }
    }
  
    // Drugi obraz - aspect ratio 1:1
    &__second-image {
      margin-top: 64px;
      width: 100%;
      position: relative;
      overflow: hidden;
  
      &::before {
        content: '';
        display: block;
        padding-top: 100%; // Aspect ratio 1:1
      }
    }
  
    &__second-image-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }